@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNZ.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.home-featured-tab .featured-item .action{margin:0 0 2.5em 50%;text-align:center;border-top-left-radius:10px;border-bottom-left-radius:10px; visibility: hidden }


.home-featured-tab .featured-item .title{margin:.5em 25% 0 0;border-top-right-radius:10px;border-bottom-right-radius:10px; visibility: collapse }


#appLoadingIndicator{position:absolute;top:50%;margin-top:-15px;text-align:center;width:100%;height:30px;-webkit-animation-name:appLoadingIndicator;-webkit-animation-duration:0.5s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear; visibility: collapse }

.membership-logged-out-message{visibility: collapse;}

.membership-logged-out-btn:after {    content: " | Register";    visibility: visible;    width: 6em !important;    white-space: pre;    font-weight: bold;}

.x-button.x-button-action,.x-toolbar .x-button.x-button-action,.x-button.x-button-action-round{border:0 solid #FFFFFF;background-color:#000;color:#FFFFFF; border-color: #FFFFFF !important; border-radius: 0 !important }

.x-button .x-button-icon.list:before{position:absolute;top:0;right:0;bottom:0;left:0;text-align:center;font-family:"Material Icons";content:"e5d2";}

.tevent-list-search, .tproduction-list-search, .tauxproduction-list-search {
    background-color: rgba(255,255,255,0.5);
    visibility: collapse;
}

.tevent-list-promo, .ticket-zone-promo, .tproduction-list-promo, .tauxproduction-list-promo
{
    visibility: collapse;
}

.x-grid .x-grid-multiselection-column:after
{
        position:absolute;
        top:0;
        left:0;
        width:60px;
        height:64px;
        content:"arrow_drop_down";
        text-align:center;
        font-size:26px;
        font-family:"Material Icons";
        line-height:64px;
}



.x-grid .x-grid-multiselection-cell:after
{

        content:"arrow_drop_down";
        font-family:"Material Icons";

}

.x-grid .x-grid-multiselection-column:after
{
      
        content:"arrow_drop_down";
        font-family:"Material Icons";
}

.x-grid .x-grid-viewoptions .x-column-options-sortablehandle:after
,.x-grid .x-grid-viewoptions .x-column-options-visibleindicator:after
,.x-grid .x-grid-viewoptions .x-column-options-folder:after
,.x-grid .x-grid-viewoptions .x-column-options-leaf:after
{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        content:"menu";
        vertical-align:middle;
        text-align:center;
        font-size:24px;
        font-family:"Material Icons";
        line-height:48px;
}

.x-grid .x-grid-column.x-column-sorted-asc .x-innerhtml:after
,.x-grid .x-grid-column.x-column-sorted-desc .x-innerhtml:after
{
        position:absolute;
        top:0;
        right:-16px;
        width:12px;
        height:64px;
        font-size:12px;
        font-family:"Material Icons";
        line-height:64px;
}




.x-grid .x-grid-column.x-column-sorted-asc .x-innerhtml:after
{
        content:"arrow_forward";
}

.x-tab .x-button-icon.expand:before
,.x-button .x-button-icon.expand:before
{
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        content:"arrow_back";
        text-align:center;
        font-family:"Material Icons";
}

.x-tab .x-button-icon.list:before
,.x-button .x-button-icon.list:before
{
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        content:"menu";
        text-align:center;
        font-family:"Material Icons";
}

.x-tab .x-button-icon:before
,.x-button .x-button-icon:before
{
        font-family:"Material Icons";
}


a.tevent-call .image
{

        background-image:url(https://s3.amazonaws.com/data.instantencore.com/image/1059808/phone-icon.png) !important;

}




.tevent-map .image
{

        background:url(https://s3.amazonaws.com/data.instantencore.com/image/1059809/map-icon.png) !important;

}




.tevent-get-tickets .image
{

        background-image:url(https://s3.amazonaws.com/data.instantencore.com/image/1059810/ticket-icon.png) !important;

}




.tevent-no-tickets .image
{
       
        background-image:url(https://s3.amazonaws.com/data.instantencore.com/image/1059810/ticket-icon.png) !important;
        
}

.x-toolbar.x-docked-top
{
        border-bottom:0 !important;
}

.x-toggle:before,
.x-toggle:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px 16px;
  font-size: 12px;
  z-index: 0; }
}
.x-toggle		
{
        width:4.4em;
        border:1px solid #b7b7b7;
        border-radius:1.1em;
        background-color:#ffffff;
        background-image:none;
        background-image:linear-gradient(top, #c4c4c4,#d0d0d0 10%,#dddddd 65%,#dedede);
}
.x-toggle .x-thumb.x-dragging
{
        opacity:1;
}
.x-toggle .x-thumb:before
{
        top:0.175em;
}
.x-toggle-on
{
        background-color:#1a626e;
        background-image:none;
		content:"on"
	toggle:before {
  content: "on";
  left: 0;
  color: #fff; }
}

,.x-form.x-floating
{
        border-radius:0;
        background-color:#000000;
        background-image:none;
        box-shadow:none;
}

.x-tabbar-dark.x-docked-bottom .x-tab-active .x-button-icon:before
{
        color:#edeae2;
}

.ext-title-1
{
display:none;}

div#ext-element-50 {
    visibility: collapse;
}

.x-button.x-button-action {
    border: solid #FFFFFF;
    padding:1em;
    background-color: #000;
    color: #FFFFFF;
    border-color: #FFFFFF !important;
    border-radius: 0 !important;

}

.x-button.x-button-normal{
    margin-top:1em;
    padding:1em;
    border: solid #FFFFFF;
    background-color: #000;
    color: #FFFFFF;
    border-color: #FFFFFF !important;
    border-radius: 0 !important;
}

.x-form-fieldset .x-form-fieldset-inner
{
        overflow:hidden;
        border:1px solid #cccccc;
	    border-radius: 0 !important;
}

.home-featured-tab .x-carousel-indicator-horizontal {
    height: 2.0em;
    background: transparent !important;
}

div#ext-selectfield-7, div#ext-selectfield-8{
display:none}

span#ext-element-447 
{
    visibility: collapse;
}

span#ext-element-447:before:after 
{
    content: "Suburb";
    visibility: visible;
    margin-right: -1.9em;
}


span#ext-element-246 
{
    visibility: collapse;
}

span#ext-element-246:before 
{
    content: "Suburb";
    visibility: visible;
    margin-right: -1.9em;
}

/** My Museum Card **/
.membership-card .membership-card-view .membership-card-container .membership-card-description
{
        padding:10px;
        border-top:solid 1px #black;
}

.membership-card .membership-card-view .membership-card-container
{
        margin:20px;
        border:solid 1px #white;
        border-radius:0 !important;
        background-color:white;

}
.membership-card .membership-card-view .membership-card-container .membership-header-container
{
        padding:2em;
        border-radius:0 !important;
        background-color:#017aaa;
        background-position:50%;
        background-size:cover;
        background-repeat:no-repeat;
        color:white !important;
}

.membership-constituent {
    color: white;
}

.membership-level {
    color: white;
}

.membership-status {
    color: white;
}

.membership-expires {
    color: #017aaa !important;
}

/** Hide Share **/
.x-container.x-toolbar-dark.x-toolbar.x-stretched.x-dock-item.x-docked-bottom >
.x-inner.x-toolbar-inner.x-horizontal.x-align-center.x-pack-center.x-layout-box >
.x-button.x-iconalign-left.x-button-plain.x-layout-box-item.x-stretched {
    display: none !important;	
}

/** back button **/
.x-container.x-size-monitored.x-paint-monitored.x-layout-box-item.x-stretched >
.x-inner.x-horizontal.x-align-center.x-pack-start.x-layout-box >
.x-button.x-button-back.x-layout-box-item.x-stretched {
  color: rgba(0, 0, 0, 0);
  background-image: url("https://raw.githubusercontent.com/will3/museumassets/master/back.png");
  background-size: 50px auto;
  background-repeat: no-repeat;
  background-position: center;	
	width: 52px;
}

/** banner **/
.x-body >
.x-inner.x-toolbar-inner.x-horizontal.x-align-stretchmax.x-pack-start.x-layout-box >
.x-size-monitored.x-paint-monitored.x-layout-box-item.x-flexed.x-stretched {
  display: none;
}

/** toolbar **/
.x-inner.x-toolbar-inner.x-horizontal.x-align-stretchmax.x-pack-start.x-layout-box {
  background-image: url("https://raw.githubusercontent.com/will3/museumassets/master/banner.png") !important;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  background-size: auto 48px !important;
  height: 48px !important;
  width: auto;
  margin-left: -4px;
  margin-right: -4px;
}

/** grey bar, login **/
.x-container.x-unsized.x-dock-item.x-docked-top.x-has-width >
.x-inner.x-horizontal.x-align-stretch.x-pack-start.x-layout-box >
.x-container.tevent-list-login.x-layout-box-item.x-flexed.x-stretched {
  background-color: rgba(0, 0, 0, 0);
/*   background-image: none; */
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 4px;	
}

/** grey bar, ticketing **/
.x-container.check-width.x-layout-box-item.x-stretched >
.x-inner.x-horizontal.x-align-stretch.x-pack-start.x-layout-box >
.x-container.ticket-zone-login.x-layout-box-item.x-flexed.x-stretched {
  background-color: rgba(0, 0, 0, 0);
/*   background-image: none; */
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 4px;
}

/** makes shopping cart button smaller **/
.x-button.x-iconalign-center.x-button-action.nav-cart-button.x-layout-box-item.x-stretched {
    padding: 4px;
}

/** Remove surburb from poster **/
.x-unsized.x-carousel-indicator.x-carousel-indicator-horizontal.x-floating.x-carousel-indicator-light span::before {
	content: none !important;
}

/** ticketing icons **/
.x-container.check-width.x-layout-box-item.x-stretched >
.x-inner >
.x-container.x-unsized >
.x-inner >
.x-innerhtml >
div
.image {
  background-size: auto 30px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.x-container.check-width.x-layout-box-item.x-stretched >
.x-inner >
.x-container.x-unsized >
.x-inner >
.x-innerhtml >
a
.image {
  background-size: auto 30px !important;
}

/** ticketing icons parent **/
.x-container.check-width.x-layout-box-item.x-stretched >
.x-inner >
.x-container.x-unsized >
.x-inner >
.x-innerhtml >
div,
.x-container.check-width.x-layout-box-item.x-stretched >
.x-inner >
.x-container.x-unsized >
.x-inner >
.x-innerhtml >
a
{
  /*padding: 0;*/
}

/** ticketing, map title **/
.x-container.check-width.x-layout-box-item.x-stretched >
.x-inner >
.x-container.x-unsized >
.x-inner >
.x-innerhtml >
.tevent-map >
.title {
  padding-top: 6px;
}

/** right arrow image **/
.action-arrow,
.x-list .x-list-item .x-dock-horizontal,
.x-dataview-list .x-dataview-item,
.home-featured-tab .featured-item .action,
.home-old-tab .tevent-list-item-tpl,
.home-old-tab .event-list-item-tpl,
.tevent-list-promo,
.ticket-zone-promo,
.tproduction-list-promo,
.tauxproduction-list-promo,
.tevent-list-login,
.ticket-zone-login,
.tproduction-list-login,
.tauxproduction-list-login,
.tevent-get-tickets,
.tevent-map,
.tevent-pdf,
a.tevent-call,
.ticket-zone-syos,
.event-get-tickets,
.event-pdf,
.event-map,
a.event-call,
.tproduction-view-dates,
.tauxproduction-view-dates,
.production-view-dates,
.tcart-tab .cart-list-add,
.tcart-tab .cart-add-parking,
.music-pdf,
.music-buy-link,
.ate-offers .title,
.ate-home-tab .featured-item .action,
.ticket-detail .ticket-action-list-item-tpl {
  background-image: url("https://raw.githubusercontent.com/will3/museumassets/master/right_arrow.png");
  background-size: auto 14px;
  background-position: right;
}

/** ticketing, account button **/
.x-button-normal.x-button.nav-account-button.x-layout-box-item.x-stretched {
  padding: 0px;	
  border: none;
  margin: 0;
  margin-right: 12px;
}

/** Loading **/
.x-loading-spinner {
  display: none;
}

.x-loading-spinner-outer {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0ibGRzLXNwaW5uZXIiIHdpZHRoPSIyMDBweCIgaGVpZ2h0PSIyMDBweCIgeG1s%0D%0AbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53%0D%0AMy5vcmcvMTk5OS94bGluayIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0%0D%0AaW89InhNaWRZTWlkIiBzdHlsZT0iYW5pbWF0aW9uLXBsYXktc3RhdGU6IHJ1bm5pbmc7IGFuaW1h%0D%0AdGlvbi1kZWxheTogMHM7IGJhY2tncm91bmQ6IG5vbmU7Ij48ZyB0cmFuc2Zvcm09InJvdGF0ZSgw%0D%0AIDUwIDUwKSIgc3R5bGU9ImFuaW1hdGlvbi1wbGF5LXN0YXRlOiBydW5uaW5nOyBhbmltYXRpb24t%0D%0AZGVsYXk6IDBzOyI+CiAgPHJlY3QgeD0iNDcuNSIgeT0iMjUuNSIgcng9IjAiIHJ5PSIwIiB3aWR0%0D%0AaD0iNSIgaGVpZ2h0PSIxMyIgZmlsbD0iI2ZmZmZmZiIgc3R5bGU9ImFuaW1hdGlvbi1wbGF5LXN0%0D%0AYXRlOiBydW5uaW5nOyBhbmltYXRpb24tZGVsYXk6IDBzOyI+CiAgICA8YW5pbWF0ZSBhdHRyaWJ1%0D%0AdGVOYW1lPSJvcGFjaXR5IiB2YWx1ZXM9IjE7MCIga2V5VGltZXM9IjA7MSIgZHVyPSIxcyIgYmVn%0D%0AaW49Ii0wLjkxNjY2NjY2NjY2NjY2NjZzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgc3R5bGU9%0D%0AImFuaW1hdGlvbi1wbGF5LXN0YXRlOiBydW5uaW5nOyBhbmltYXRpb24tZGVsYXk6IDBzOyI+PC9h%0D%0AbmltYXRlPgogIDwvcmVjdD4KPC9nPjxnIHRyYW5zZm9ybT0icm90YXRlKDMwIDUwIDUwKSIgc3R5%0D%0AbGU9ImFuaW1hdGlvbi1wbGF5LXN0YXRlOiBydW5uaW5nOyBhbmltYXRpb24tZGVsYXk6IDBzOyI+%0D%0ACiAgPHJlY3QgeD0iNDcuNSIgeT0iMjUuNSIgcng9IjAiIHJ5PSIwIiB3aWR0aD0iNSIgaGVpZ2h0%0D%0APSIxMyIgZmlsbD0iI2ZmZmZmZiIgc3R5bGU9ImFuaW1hdGlvbi1wbGF5LXN0YXRlOiBydW5uaW5n%0D%0AOyBhbmltYXRpb24tZGVsYXk6IDBzOyI+CiAgICA8YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJvcGFj%0D%0AaXR5IiB2YWx1ZXM9IjE7MCIga2V5VGltZXM9IjA7MSIgZHVyPSIxcyIgYmVnaW49Ii0wLjgzMzMz%0D%0AMzMzMzMzMzMzMzRzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgc3R5bGU9ImFuaW1hdGlvbi1w%0D%0AbGF5LXN0YXRlOiBydW5uaW5nOyBhbmltYXRpb24tZGVsYXk6IDBzOyI+PC9hbmltYXRlPgogIDwv%0D%0AcmVjdD4KPC9nPjxnIHRyYW5zZm9ybT0icm90YXRlKDYwIDUwIDUwKSIgc3R5bGU9ImFuaW1hdGlv%0D%0Abi1wbGF5LXN0YXRlOiBydW5uaW5nOyBhbmltYXRpb24tZGVsYXk6IDBzOyI+CiAgPHJlY3QgeD0i%0D%0ANDcuNSIgeT0iMjUuNSIgcng9IjAiIHJ5PSIwIiB3aWR0aD0iNSIgaGVpZ2h0PSIxMyIgZmlsbD0i%0D%0AI2ZmZmZmZiIgc3R5bGU9ImFuaW1hdGlvbi1wbGF5LXN0YXRlOiBydW5uaW5nOyBhbmltYXRpb24t%0D%0AZGVsYXk6IDBzOyI+CiAgICA8YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJvcGFjaXR5IiB2YWx1ZXM9%0D%0AIjE7MCIga2V5VGltZXM9IjA7MSIgZHVyPSIxcyIgYmVnaW49Ii0wLjc1cyIgcmVwZWF0Q291bnQ9%0D%0AImluZGVmaW5pdGUiIHN0eWxlPSJhbmltYXRpb24tcGxheS1zdGF0ZTogcnVubmluZzsgYW5pbWF0%0D%0AaW9uLWRlbGF5OiAwczsiPjwvYW5pbWF0ZT4KICA8L3JlY3Q+CjwvZz48ZyB0cmFuc2Zvcm09InJv%0D%0AdGF0ZSg5MCA1MCA1MCkiIHN0eWxlPSJhbmltYXRpb24tcGxheS1zdGF0ZTogcnVubmluZzsgYW5p%0D%0AbWF0aW9uLWRlbGF5OiAwczsiPgogIDxyZWN0IHg9IjQ3LjUiIHk9IjI1LjUiIHJ4PSIwIiByeT0i%0D%0AMCIgd2lkdGg9IjUiIGhlaWdodD0iMTMiIGZpbGw9IiNmZmZmZmYiIHN0eWxlPSJhbmltYXRpb24t%0D%0AcGxheS1zdGF0ZTogcnVubmluZzsgYW5pbWF0aW9uLWRlbGF5OiAwczsiPgogICAgPGFuaW1hdGUg%0D%0AYXR0cmlidXRlTmFtZT0ib3BhY2l0eSIgdmFsdWVzPSIxOzAiIGtleVRpbWVzPSIwOzEiIGR1cj0i%0D%0AMXMiIGJlZ2luPSItMC42NjY2NjY2NjY2NjY2NjY2cyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUi%0D%0AIHN0eWxlPSJhbmltYXRpb24tcGxheS1zdGF0ZTogcnVubmluZzsgYW5pbWF0aW9uLWRlbGF5OiAw%0D%0AczsiPjwvYW5pbWF0ZT4KICA8L3JlY3Q+CjwvZz48ZyB0cmFuc2Zvcm09InJvdGF0ZSgxMjAgNTAg%0D%0ANTApIiBzdHlsZT0iYW5pbWF0aW9uLXBsYXktc3RhdGU6IHJ1bm5pbmc7IGFuaW1hdGlvbi1kZWxh%0D%0AeTogMHM7Ij4KICA8cmVjdCB4PSI0Ny41IiB5PSIyNS41IiByeD0iMCIgcnk9IjAiIHdpZHRoPSI1%0D%0AIiBoZWlnaHQ9IjEzIiBmaWxsPSIjZmZmZmZmIiBzdHlsZT0iYW5pbWF0aW9uLXBsYXktc3RhdGU6%0D%0AIHJ1bm5pbmc7IGFuaW1hdGlvbi1kZWxheTogMHM7Ij4KICAgIDxhbmltYXRlIGF0dHJpYnV0ZU5h%0D%0AbWU9Im9wYWNpdHkiIHZhbHVlcz0iMTswIiBrZXlUaW1lcz0iMDsxIiBkdXI9IjFzIiBiZWdpbj0i%0D%0ALTAuNTgzMzMzMzMzMzMzMzMzNHMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiBzdHlsZT0iYW5p%0D%0AbWF0aW9uLXBsYXktc3RhdGU6IHJ1bm5pbmc7IGFuaW1hdGlvbi1kZWxheTogMHM7Ij48L2FuaW1h%0D%0AdGU+CiAgPC9yZWN0Pgo8L2c+PGcgdHJhbnNmb3JtPSJyb3RhdGUoMTUwIDUwIDUwKSIgc3R5bGU9%0D%0AImFuaW1hdGlvbi1wbGF5LXN0YXRlOiBydW5uaW5nOyBhbmltYXRpb24tZGVsYXk6IDBzOyI+CiAg%0D%0APHJlY3QgeD0iNDcuNSIgeT0iMjUuNSIgcng9IjAiIHJ5PSIwIiB3aWR0aD0iNSIgaGVpZ2h0PSIx%0D%0AMyIgZmlsbD0iI2ZmZmZmZiIgc3R5bGU9ImFuaW1hdGlvbi1wbGF5LXN0YXRlOiBydW5uaW5nOyBh%0D%0AbmltYXRpb24tZGVsYXk6IDBzOyI+CiAgICA8YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJvcGFjaXR5%0D%0AIiB2YWx1ZXM9IjE7MCIga2V5VGltZXM9IjA7MSIgZHVyPSIxcyIgYmVnaW49Ii0wLjVzIiByZXBl%0D%0AYXRDb3VudD0iaW5kZWZpbml0ZSIgc3R5bGU9ImFuaW1hdGlvbi1wbGF5LXN0YXRlOiBydW5uaW5n%0D%0AOyBhbmltYXRpb24tZGVsYXk6IDBzOyI+PC9hbmltYXRlPgogIDwvcmVjdD4KPC9nPjxnIHRyYW5z%0D%0AZm9ybT0icm90YXRlKDE4MCA1MCA1MCkiIHN0eWxlPSJhbmltYXRpb24tcGxheS1zdGF0ZTogcnVu%0D%0AbmluZzsgYW5pbWF0aW9uLWRlbGF5OiAwczsiPgogIDxyZWN0IHg9IjQ3LjUiIHk9IjI1LjUiIHJ4%0D%0APSIwIiByeT0iMCIgd2lkdGg9IjUiIGhlaWdodD0iMTMiIGZpbGw9IiNmZmZmZmYiIHN0eWxlPSJh%0D%0AbmltYXRpb24tcGxheS1zdGF0ZTogcnVubmluZzsgYW5pbWF0aW9uLWRlbGF5OiAwczsiPgogICAg%0D%0APGFuaW1hdGUgYXR0cmlidXRlTmFtZT0ib3BhY2l0eSIgdmFsdWVzPSIxOzAiIGtleVRpbWVzPSIw%0D%0AOzEiIGR1cj0iMXMiIGJlZ2luPSItMC40MTY2NjY2NjY2NjY2NjY3cyIgcmVwZWF0Q291bnQ9Imlu%0D%0AZGVmaW5pdGUiIHN0eWxlPSJhbmltYXRpb24tcGxheS1zdGF0ZTogcnVubmluZzsgYW5pbWF0aW9u%0D%0ALWRlbGF5OiAwczsiPjwvYW5pbWF0ZT4KICA8L3JlY3Q+CjwvZz48ZyB0cmFuc2Zvcm09InJvdGF0%0D%0AZSgyMTAgNTAgNTApIiBzdHlsZT0iYW5pbWF0aW9uLXBsYXktc3RhdGU6IHJ1bm5pbmc7IGFuaW1h%0D%0AdGlvbi1kZWxheTogMHM7Ij4KICA8cmVjdCB4PSI0Ny41IiB5PSIyNS41IiByeD0iMCIgcnk9IjAi%0D%0AIHdpZHRoPSI1IiBoZWlnaHQ9IjEzIiBmaWxsPSIjZmZmZmZmIiBzdHlsZT0iYW5pbWF0aW9uLXBs%0D%0AYXktc3RhdGU6IHJ1bm5pbmc7IGFuaW1hdGlvbi1kZWxheTogMHM7Ij4KICAgIDxhbmltYXRlIGF0%0D%0AdHJpYnV0ZU5hbWU9Im9wYWNpdHkiIHZhbHVlcz0iMTswIiBrZXlUaW1lcz0iMDsxIiBkdXI9IjFz%0D%0AIiBiZWdpbj0iLTAuMzMzMzMzMzMzMzMzMzMzM3MiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiBz%0D%0AdHlsZT0iYW5pbWF0aW9uLXBsYXktc3RhdGU6IHJ1bm5pbmc7IGFuaW1hdGlvbi1kZWxheTogMHM7%0D%0AIj48L2FuaW1hdGU+CiAgPC9yZWN0Pgo8L2c+PGcgdHJhbnNmb3JtPSJyb3RhdGUoMjQwIDUwIDUw%0D%0AKSIgc3R5bGU9ImFuaW1hdGlvbi1wbGF5LXN0YXRlOiBydW5uaW5nOyBhbmltYXRpb24tZGVsYXk6%0D%0AIDBzOyI+CiAgPHJlY3QgeD0iNDcuNSIgeT0iMjUuNSIgcng9IjAiIHJ5PSIwIiB3aWR0aD0iNSIg%0D%0AaGVpZ2h0PSIxMyIgZmlsbD0iI2ZmZmZmZiIgc3R5bGU9ImFuaW1hdGlvbi1wbGF5LXN0YXRlOiBy%0D%0AdW5uaW5nOyBhbmltYXRpb24tZGVsYXk6IDBzOyI+CiAgICA8YW5pbWF0ZSBhdHRyaWJ1dGVOYW1l%0D%0APSJvcGFjaXR5IiB2YWx1ZXM9IjE7MCIga2V5VGltZXM9IjA7MSIgZHVyPSIxcyIgYmVnaW49Ii0w%0D%0ALjI1cyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIHN0eWxlPSJhbmltYXRpb24tcGxheS1zdGF0%0D%0AZTogcnVubmluZzsgYW5pbWF0aW9uLWRlbGF5OiAwczsiPjwvYW5pbWF0ZT4KICA8L3JlY3Q+Cjwv%0D%0AZz48ZyB0cmFuc2Zvcm09InJvdGF0ZSgyNzAgNTAgNTApIiBzdHlsZT0iYW5pbWF0aW9uLXBsYXkt%0D%0Ac3RhdGU6IHJ1bm5pbmc7IGFuaW1hdGlvbi1kZWxheTogMHM7Ij4KICA8cmVjdCB4PSI0Ny41IiB5%0D%0APSIyNS41IiByeD0iMCIgcnk9IjAiIHdpZHRoPSI1IiBoZWlnaHQ9IjEzIiBmaWxsPSIjZmZmZmZm%0D%0AIiBzdHlsZT0iYW5pbWF0aW9uLXBsYXktc3RhdGU6IHJ1bm5pbmc7IGFuaW1hdGlvbi1kZWxheTog%0D%0AMHM7Ij4KICAgIDxhbmltYXRlIGF0dHJpYnV0ZU5hbWU9Im9wYWNpdHkiIHZhbHVlcz0iMTswIiBr%0D%0AZXlUaW1lcz0iMDsxIiBkdXI9IjFzIiBiZWdpbj0iLTAuMTY2NjY2NjY2NjY2NjY2NjZzIiByZXBl%0D%0AYXRDb3VudD0iaW5kZWZpbml0ZSIgc3R5bGU9ImFuaW1hdGlvbi1wbGF5LXN0YXRlOiBydW5uaW5n%0D%0AOyBhbmltYXRpb24tZGVsYXk6IDBzOyI+PC9hbmltYXRlPgogIDwvcmVjdD4KPC9nPjxnIHRyYW5z%0D%0AZm9ybT0icm90YXRlKDMwMCA1MCA1MCkiIHN0eWxlPSJhbmltYXRpb24tcGxheS1zdGF0ZTogcnVu%0D%0AbmluZzsgYW5pbWF0aW9uLWRlbGF5OiAwczsiPgogIDxyZWN0IHg9IjQ3LjUiIHk9IjI1LjUiIHJ4%0D%0APSIwIiByeT0iMCIgd2lkdGg9IjUiIGhlaWdodD0iMTMiIGZpbGw9IiNmZmZmZmYiIHN0eWxlPSJh%0D%0AbmltYXRpb24tcGxheS1zdGF0ZTogcnVubmluZzsgYW5pbWF0aW9uLWRlbGF5OiAwczsiPgogICAg%0D%0APGFuaW1hdGUgYXR0cmlidXRlTmFtZT0ib3BhY2l0eSIgdmFsdWVzPSIxOzAiIGtleVRpbWVzPSIw%0D%0AOzEiIGR1cj0iMXMiIGJlZ2luPSItMC4wODMzMzMzMzMzMzMzMzMzM3MiIHJlcGVhdENvdW50PSJp%0D%0AbmRlZmluaXRlIiBzdHlsZT0iYW5pbWF0aW9uLXBsYXktc3RhdGU6IHJ1bm5pbmc7IGFuaW1hdGlv%0D%0Abi1kZWxheTogMHM7Ij48L2FuaW1hdGU+CiAgPC9yZWN0Pgo8L2c+PGcgdHJhbnNmb3JtPSJyb3Rh%0D%0AdGUoMzMwIDUwIDUwKSIgc3R5bGU9ImFuaW1hdGlvbi1wbGF5LXN0YXRlOiBydW5uaW5nOyBhbmlt%0D%0AYXRpb24tZGVsYXk6IDBzOyI+CiAgPHJlY3QgeD0iNDcuNSIgeT0iMjUuNSIgcng9IjAiIHJ5PSIw%0D%0AIiB3aWR0aD0iNSIgaGVpZ2h0PSIxMyIgZmlsbD0iI2ZmZmZmZiIgc3R5bGU9ImFuaW1hdGlvbi1w%0D%0AbGF5LXN0YXRlOiBydW5uaW5nOyBhbmltYXRpb24tZGVsYXk6IDBzOyI+CiAgICA8YW5pbWF0ZSBh%0D%0AdHRyaWJ1dGVOYW1lPSJvcGFjaXR5IiB2YWx1ZXM9IjE7MCIga2V5VGltZXM9IjA7MSIgZHVyPSIx%0D%0AcyIgYmVnaW49IjBzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgc3R5bGU9ImFuaW1hdGlvbi1w%0D%0AbGF5LXN0YXRlOiBydW5uaW5nOyBhbmltYXRpb24tZGVsYXk6IDBzOyI+PC9hbmltYXRlPgogIDwv%0D%0AcmVjdD4KPC9nPjwvc3ZnPg==);
  background-size: 60px auto;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 20px;
  background-origin: content-box;
}

.ticket-header {
  background-color: transparent !important;
}

.tevent-header {
  background-color: transparent !important;
}

.tevent-header >
.title {
  padding-top: 6px;
}

.section-header {
  background-color: transparent !important;
}

/** picker mask **/
.x-picker-mask >
.x-picker-bar {
  background-color: transparent;
  padding-left: 100px !important;
  box-sizing: border-box;
  margin: auto;
  width: 200px;
  box-shadow: none;
  border-color: #22AFE3;
}

.x-picker .x-picker-inner {
  background: none;
  background-color: white;
  border-radius: 0;
}

/** picker buttons **/
.x-dock.x-dock-vertical.x-sized
.x-button-normal.x-button.x-layout-box-item.x-stretched,
.x-dock.x-dock-vertical.x-sized
.x-button.x-button-action.x-layout-box-item.x-stretched {
	margin-left: 16px;
	margin-right: 16px;
}

/** make home button smaller **/
.x-button-icon.x-shown.home {
	position:absolute;
	top:4px;
	right:0;
	bottom:0;
	left:-4px;
}

/** title on nav bar **/
.x-container.x-navigationview.x-fullscreen.x-layout-card-item.x-sized >
.x-dock.x-dock-vertical.x-sized >
.x-container.x-toolbar-dark.x-toolbar.x-stretched.x-paint-monitored.x-navigation-bar.x-dock-item.x-docked-top >
.x-body >
.x-center >
.x-unsized.x-title.x-floating >
.x-innerhtml {
  display: none !important;
}

.x-container.x-form.check-width.x-layout-box-item.x-stretched >
.x-inner.x-form-inner.x-html >
.x-unsized.x-button-normal.x-button >
.x-button-label {
  font-weight: 400;
  border: 1.5px white solid;  
  padding: 1em;
  margin-left: 6px;
  margin-right: 6px;
}

/** button border width **/
.x-button.x-button-action {
  border-width: 1.5px;
}

/** hide bottom bar **/
x-dock-body >
.x-inner.x-navigationview-inner.x-layout-card >
.x-container.x-paint-monitored.x-layout-card-item.x-sized >
.x-dock.x-dock-vertical.x-sized >
.x-container.x-toolbar-dark.x-toolbar.x-stretched.x-dock-item.x-docked-bottom >
.x-inner.x-toolbar-inner.x-horizontal.x-align-center.x-pack-center.x-layout-box {
  background-color: red;
}

.x-container.membership-logged-out-view.x-layout-card-item.x-sized >
.x-inner.x-vertical.x-align-center.x-pack-center.x-layout-box.x-html:before {
    content: "The MyMuseum app is the easy way for Aucklanders to access Auckland Museum for free all year round.\A\AYou can also checkout what's on, buy event tickets and find out more about opening hours and admission.\A\ANew to MyMuseum?\AStep 1: Register your details\AStep 2: To activate your MyMuseum card, please show your proof of Auckland residence next time you visit\A\A\A";
    white-space: pre-wrap;
}

.x-container.membership-logged-out-view.x-layout-card-item.x-sized {
  padding: 20px 42px;
}

.membership-expires {
  color: black
}

.x-container.tregister-tab.x-paint-monitored.x-layout-card-item.x-sized >
.x-body.x-scroll-view >
.x-scroll-container.x-size-monitored.x-paint-monitored >
.x-inner.x-html.x-vertical.x-align-stretch.x-pack-start.x-layout-box.x-size-monitored.x-paint-monitored.x-scroll-scroller >
.x-container.x-form.check-width.x-layout-box-item.x-stretched >
.x-inner.x-form-inner >
.x-container.x-unsized.x-form-fieldset:first-child >
.x-dock.x-dock-vertical.x-unsized >
.x-unsized.x-form-fieldset-title.x-dock-item.x-docked-top >
.x-innerhtml:first-child:after {
  content: "\A\A*Please note: To activate your MyMuseum card you will need to provide ID and proof of residence in person at your next visit.\A\A";
  font-weight: 400;
  white-space: pre-wrap;
}

/** Promo code **/
.x-container.tregister-tab.x-paint-monitored.x-layout-card-item.x-sized
.x-container.x-form.check-width.x-layout-box-item.x-stretched >
.x-inner.x-form-inner >
.x-container.x-unsized.x-form-fieldset:first-child >
.x-dock.x-dock-vertical.x-unsized >
.x-dock-body:nth-child(2) >
.x-inner.x-form-fieldset-inner:first-child >
.x-container.x-field-text.x-field.x-label-align-left.x-field-labeled.x-form-label-nowrap.x-empty:nth-child(11) {
  display: none;
}

.x-container.tregister-tab.x-paint-monitored.x-layout-card-item.x-sized
.x-inner.x-form-inner >
.x-container.x-unsized >
.x-inner >
.x-unsized.interests-header >
.x-innerhtml {
	display: none;	
}

.x-container.tregister-tab.x-paint-monitored.x-layout-card-item.x-sized
.x-inner.x-form-inner >
.x-container.x-unsized >
.x-inner >
.x-unsized.interests-header:before {
  content: 'Let us know which enewsletters you would like to receive.'
}

/** forget button **/
.x-container.x-form.check-width.x-layout-box-item.x-stretched >
.x-inner.x-form-inner.x-html >
.x-unsized.x-button-normal.x-button:nth-child(3) {
  border: none;
  padding: 0;
}

/** login button **/
form.x-container.x-form.check-width.x-layout-box-item.x-stretched > 
.x-inner.x-form-inner.x-html > 
.x-unsized.x-button.x-button-action {
  border: none;
  padding: 0;
}

form.x-container.x-form.check-width.x-layout-box-item.x-stretched > 
.x-inner.x-form-inner.x-html > 
.x-unsized.x-button.x-button-action >
.x-button-label {
  font-weight: 400;
  border: 1.5px white solid;  
  padding: 1em;
  margin-left: 6px;
  margin-right: 6px;
}

/** register button **/
.x-container.x-form.check-width.x-layout-box-item.x-stretched >
.x-inner.x-form-inner.x-html >
.x-unsized.x-button-normal.x-button:nth-child(4) {
  border-width: 1.5px;
  border: none;
  padding: 0;
}

/** registration form, next button **/
.x-container.push-intro.x-layout-card-item.x-sized >
.x-dock.x-dock-vertical.x-sized > 
.x-container.x-toolbar-dark.x-toolbar.x-stretched.x-dock-item.x-docked-bottom
.x-button.x-button-confirm.x-button-forward.x-layout-box-item.x-stretched {
	background-image: url("https://raw.githubusercontent.com/will3/museumassets/master/next.png");
	background-position: center;
	background-size: auto 14px;
	background-repeat: no-repeat;
	width: 80px;
	height: 30px;
	margin-bottom: 14px;
	margin-right: 0px;
}

.x-container.push-intro.x-layout-card-item.x-sized >
.x-dock.x-dock-vertical.x-sized > 
.x-container.x-toolbar-dark.x-toolbar.x-stretched.x-dock-item.x-docked-bottom
.x-button.x-button-confirm.x-button-forward.x-layout-box-item.x-stretched {
	background-color: transparent;
	border: none;
}

.x-container.push-intro.x-layout-card-item.x-sized >
.x-dock.x-dock-vertical.x-sized > 
.x-container.x-toolbar-dark.x-toolbar.x-stretched.x-dock-item.x-docked-bottom
.x-button.x-button-confirm.x-button-forward.x-layout-box-item.x-stretched:after {
	content: none;
}

.x-container.push-intro.x-layout-card-item.x-sized >
.x-dock.x-dock-vertical.x-sized > 
.x-container.x-toolbar-dark.x-toolbar.x-stretched.x-dock-item.x-docked-bottom
.x-button.x-button-confirm.x-button-forward.x-layout-box-item.x-stretched:before {
	content: none;
}

.x-container.push-intro.x-layout-card-item.x-sized >
.x-dock.x-dock-vertical.x-sized > 
.x-container.x-toolbar-dark.x-toolbar.x-stretched.x-dock-item.x-docked-bottom
.x-button.x-button-confirm.x-button-forward.x-layout-box-item.x-stretched >
span:nth-child(3) {
  display: none;
}

/** registration form, header text **/
.x-container.push-intro.x-layout-card-item.x-sized 
.x-inner.x-size-monitored.x-paint-monitored.x-scroll-scroller.x-html >
div >
div >
div:nth-child(3) > 
h4
{
	display: none;
}


.x-container.push-intro.x-layout-card-item.x-sized 
.x-inner.x-size-monitored.x-paint-monitored.x-scroll-scroller.x-html >
div >
div >
div:nth-child(3) > 
h5 
{
	display: none;
}

.x-container.push-intro.x-layout-card-item.x-sized 
.x-inner.x-size-monitored.x-paint-monitored.x-scroll-scroller.x-html >
div >
div >
div:nth-child(3):before {
	font-size: 18px;
	white-space: pre-wrap;
	content: '\ASTAY CONNECTED\A\A Enhance your Auckland War Memorial Museum experience with personal notifications.\A\AWe will only send you relevant messages with insider info, special deals and pertinent updates.\A\A';
}

/** Registeration form, text **/
.x-container.x-field.x-toggle-field.x-label-align-right.x-field-labeled:nth-child(3)
.x-form-label >
span {
	display: none;
}

.x-container.x-field.x-toggle-field.x-label-align-right.x-field-labeled:nth-child(3)
.x-form-label:after {
	content: 'Up to the Minute News Upon Arrival';
	font-size: .8em;
	font-weight: bold;
}

/** Hide bottom of MyMuseum card **/
.x-container.membership-card-description.x-layout-box-item.x-stretched {
	display: none !important;
}

/** Email preferences, settings header **/
.taccount-interests-header.x-layout-box-item.x-stretched + form >
div >
div:first-child
.x-unsized.x-form-fieldset-title.x-dock-item.x-docked-top >
.x-innerhtml
{
	display: none !important;
}

.taccount-interests-header.x-layout-box-item.x-stretched + form >
div >
div:first-child
.x-unsized.x-form-fieldset-title.x-dock-item.x-docked-top:before {
	content: 'Email preferences'
}